<div class="d-flex overflow-hidden">
  <div class="homework-data border px-3" [ngClass]="!hideMenu ? 'toggled' : ''" *ngIf="Answers">
    <div class="text-center">
      <span>{{Answers[0].docID}}</span>
    </div>

    <div class="d-flex justify-content-between border-bottom">
      <button class="btn btn-primary" [disabled]="pageNumber <= 1" (click)="changePage(-1)">-</button>
      <span>{{pageNumber}}/ {{pageNbr}}</span>
      <button class="btn btn-primary" [disabled]="pageNbr <= pageNumber" (click)="changePage(+1)">+</button>
    </div>
    <ng-container *ngIf="Answers">
      <div>
        <div class="mx-5 my-2" >
          <span style="white-space: pre-line">{{Answers[0].data.homework}}</span>
        </div>

        <hr>
        <div class="text-center">
          <div class="mx-5 my-2" *ngIf="Answers[0].data.rated === true">Rated</div>
          <button class="btn btn-primary w-25" (click)="showPopUp(Answers[0].docID)"
                  [disabled]="Answers[0].data.rated === true">Rate
          </button>
        </div>
      </div>
    </ng-container>

    <app-add-mark *ngIf="addMark" (closePopUp)="closePopUp()" (addedMark)="saveMark($event)"></app-add-mark>
    <div class="arrow border rounded-circle" (click)="hideMenu = !hideMenu" [ngClass]="!hideMenu ? 'toggled' : ''">
      <span class="fa fa-caret-right fa-2x"></span>
    </div>
  </div>

  <span *ngIf="Answers == null  && !gate && homeworkAnswers.length === 0">No one's sent homework yet.</span>

  <div class="homework-list" [ngClass]="hideMenu ? 'toggled' : ''">
    <div *ngIf="!gate">
      <input id="showRated" type="checkbox" >
      <label for="showRated">Hide Rated</label>
    </div>
    <div class="list-group list-group-flush group-links ">
      <a class="list-group-item list-group-item-action " *ngFor="let homework of homeworkAnswers ; let i = index"
         [routerLink]="'../' + (i+1)" routerLinkActive="active" (click)="hideMenu = true"
        >
        <span>{{i}}</span>
      </a>
    </div>
  </div>


</div>

<div class="row justify-content-center" *ngIf="gate">
  <app-loading-spinner></app-loading-spinner>
</div>

