<div class="container">

  <form [formGroup]="homeworkForm">
    <div class="row ">
      <div class=" form-group text-center">
        <label for="Status">Group</label>
        <select id="Status" class="form-control" formControlName="group" (change)="ChangeGroup($event)" >
          <option selected disabled hidden>Choose</option>
          <option [value]="group"
                  *ngFor="let group of groupList"> {{group}}</option>
        </select>
      </div>
    <!--  <div class="form-group text-center px-1">
        <label for="Date">Date from</label>
        <input type="date" id="Date" class="form-control">
      </div>

      <div class="col-5 form-group text-center px-3">
        <label for="Title">title</label>
        <input type="text" id="title" class="form-control">
      </div>
      <div class="offset-3 align-self-center ">
        <button class="btn btn-outline-success">Search</button>
      </div>-->
    </div>
  </form>



  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4 ">

      <div class="text-center">
      <button class="btn btn-outline-primary" type="button" routerLink="add">Assign Homework</button>
      </div>

      <app-homework-list *ngFor="let homework of homeworkList" [group]="group" [homework]="homework" routerLinkActive="active"></app-homework-list>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-8 ">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
