

  <div id="filter-wrapper" class="overflow-hidden" [ngClass]="showFilters ? 'heightMax': 'heightZero'">
    <form [formGroup]="homeworkSortForm" (ngSubmit)="filterHomework()">
      <div class="row text-center border">
        <div class="col-xs-12 col-md-4 col-lg-2">
          <label for="Status">Group</label>
          <select id="Status" class="custom-select " formControlName="group">
            <option selected></option>
            <option [value]="group" [selected]="group === selectedGroup"
                    *ngFor="let group of groupList">{{group}}</option>
          </select>
        </div>
        <div class="col-xs-12 col-md-7 col-lg-9 ">
          <label for="displayName">Title</label>
          <input type="text" id="displayName" class="form-control" formControlName="title">
        </div>

        <div class="col-xs-12 col-md-1 col-lg-1 text-center d-flex align-items-end ">
          <button class="w-100 btn btn-outline-success" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="row d-flex justify-content-center py-2 showMenu border" (click)="showFilters = !showFilters" [ngClass]="showFilters ? 'fa fa-rotate-180' : ''">
    <i class="fa fa-caret-down"></i>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-12 ">

      <div class="text-center">
      <button class="btn btn-outline-primary" type="button" routerLink="add">Assign Homework</button>
      </div>

      <app-homework-list *ngFor="let homework of homeworkList" [group]="group" [homework]="homework" routerLinkActive="active"></app-homework-list>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-8 ">

    </div>

  </div>
