<div class="col-xs-12 offset-md-1 col-md-10 offset-lg-3 col-lg-6   mt-5 border shadow rounded bg-light text-success">
  <h3 class="text-center text-uppercase lead mt-3">Recover password</h3>

  <div class="offset-3 col-6">
    <hr>
  </div>

  <app-alert [message]="auth.error" (closeVar)="onErrorOccured()" *ngIf="auth.error"></app-alert>

  <div class="col-xs-12 offset-md-1 col-md-10 offset-md-1">
    <form [formGroup]="RecoverPasswordForm" (ngSubmit)="recoverPassword()">
      <div class="row">
        <div class="col-xs-12  col-lg-12">
          <div class="form-group">
            <label for="Email">Email address</label>
            <input type="email"
                   class="form-control"
                   id="Email"
                   placeholder="name@example.com"
                   formControlName="email"

            >

          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-6">
          <button class="btn btn-outline-success shadow" type="submit" [disabled]="!RecoverPasswordForm.valid">Recover</button>
        </div>
      </div>

      <div class="mb-3"></div>

    </form>
  </div>
</div>
