<div class="container border">
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <span>{{homeworkID}}</span>
    </div>
  </div>

  <div class="row" *ngIf="homeworkData">
    <div class="col-xs-12 col-md-6 col-lg-4 border">
      <div class="row border-bottom">
        <div class="col-3 border-right">
          <span>Title</span>
        </div>
        <div class="col-9 text-center">
          <span>{{homeworkData.title}}</span>
        </div>
      </div>

      <div class="row border-bottom">
        <div class="col-3 border-right">
          <span>Group</span>
        </div>
        <div class="col-9 text-center">
          <span>{{homeworkData.group}}</span>
        </div>
      </div>
      <div class="row border-bottom">
        <div class="col-3 border-right">
          <span>Date</span>
        </div>
        <div class="col-9 text-center">
          <span>{{homeworkData.date}}</span>
        </div>
      </div>
      <div class="row border-bottom">
        <div class="col-3 border-right text-wrap">
          <span>Description </span>
        </div>
        <div class="col-9 text-center">
          <span>{{homeworkData.desc}}</span>
        </div>
      </div>
      <div class="row border-bottom">
        <div class="col-3 border-right">
          <span >{{checkIsPast() ? 'Delay time' : 'Remaining time'}}</span>
        </div>
        <div class="col-9 text-center">
          <span *ngIf="time">{{ time.days}}d/{{ time.hours}}h/{{ time.minutes}}m/{{ time.seconds}}m</span>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-md-6 col-lg-8 border">
      <app-submit-homework-edit [homeworkText]="homeworkAnswer"  [group]="homeworkGroup" (homework)="saveHomework($event)"></app-submit-homework-edit>
        {{homeworkAnswer}}
     </div>

  </div>
</div>



