<div class="col-xs-12 offset-md-1 col-md-10 offset-lg-3 col-lg-6   mt-5 border shadow rounded bg-light text-success">
  <h3 class="text-center text-uppercase lead mt-3">login form</h3>

  <div class="offset-3 col-6">
    <hr>
  </div>



  <app-alert [message]="auth.error" *ngIf="auth.error" (closeVar)="this.onHandleError()"></app-alert>

  <div class="col-xs-12 offset-md-1 col-md-10 offset-md-1">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form [formGroup]="LoginForm" (ngSubmit)="LoginUser()">
      <div class="row">
        <div class="col-xs-12  col-lg-12">
          <div class="form-group">
            <label for="Email">Email address</label>
            <input type="email"
                   class="form-control"
                   id="Email"
                   placeholder="name@example.com"
                   formControlName="email"

            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   formControlName="password"
                   required>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-6">
          <button class="btn btn-outline-success shadow" type="submit" [disabled]="!LoginForm.valid">Log in</button>
<!--          <button class="btn btn-outline-danger shadow" type="button" (click)="viaGoogle()">Log in with Google</button>-->
        </div>
        <div class="col-6">
          <p class="text-right center text-primary mt-1">
            <a (click)="forgotPassword()" style="cursor: pointer;">Forgot Password ?</a>
          </p>
        </div>
      </div>

      <div class="mb-3"></div>

    </form>

  </div>
</div>
