<div id="filter-wrapper" class="overflow-hidden" [ngClass]="showFilters ? 'heightMax': 'heightZero'">
    <form [formGroup]="studentsSortForm" (ngSubmit)="filterStudents()">
      <div class="row text-center border">
        <div class="col-xs-12 col-md-4 col-lg-2">
          <label for="Status">Group</label>
          <select id="Status" class="custom-select " formControlName="group">
            <option selected></option>
            <option [value]="group" [selected]="group === selectedGroup"
                    *ngFor="let group of groupList">{{group}}</option>
          </select>
        </div>
        <div class="col-xs-12 col-md-7 col-lg-9 ">
          <label for="displayName">Name and Surname</label>
          <input type="text" id="displayName" class="form-control" formControlName="displayName">
        </div>

        <div class="col-xs-12 col-md-1 col-lg-1 text-center d-flex align-items-end ">
          <button class="w-100 btn btn-outline-success" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>


  <div class="row d-flex justify-content-center py-2 showMenu border" (click)="showFilters = !showFilters" [ngClass]="showFilters ? 'fa fa-rotate-180' : ''">
    <i class="fa fa-caret-down"></i>
  </div>

  <div class="row ">
    <div class="col-12 bg-light">
      <h5 class="border-bottom text-center">Students</h5>
      <app-students-list *ngFor="let student of students;let i = index" [id]="i"
                         [usersUID]="student"></app-students-list>
    </div>



