<div class="wrapper">
  <div class="bg-photo-img"></div>

  <div class="container rounded shadow border-light bg-light">
    <div class="row p-3" style="margin-top: -6vw" *ngIf="profile">
      <div class="col-xs-12 col-md-4 col-lg-4 justify-content-center text-center align-items-center" >
        <img [src]="profile.photoURL" alt="Your Photo" class="rounded-circle mb-4 border-light shadow" height="250"
             width="250">
      </div>
      <div class="col-xs-12 offset-md-1 col-md-6 text-center">
        <h3 class="text-center">{{profile.displayName}}</h3>
        <h4 class="lead">{{profile.email}}</h4>

        <table class="table mt-5">
          <thead class="thead-light">

          </thead>
          <tbody>
          <tr>
            <th scope="row">Type</th>
            <td *ngIf="profile.roles.admin">Admin</td>
            <td *ngIf="profile.roles.editor">Teacher</td>
            <td *ngIf="profile.roles.sub">Student</td>
          </tr>
          <tr>
            <th scope="row">UID</th>
            <td>{{profile.uid}}</td>
          </tr>
          </tbody>

        </table>
        <div class="row justify-content-end">
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              User Action
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="edit">Edit Profile Info</a>
              <a class="dropdown-item" (click)="auth.resetPassword(profile.email)" style="cursor: pointer">Change
                password</a>
              <a class="dropdown-item" (click)="auth.changeEmail(profile.email)" style="cursor: pointer">Change
                email</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" (click)="deleteUser()"> Delete User</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

