<div class="col-xs-12 offset-md-1 col-md-10 offset-lg-3 col-lg-6   mt-5 border shadow rounded bg-light text-success">
  <h3 class="text-center text-uppercase lead mt-3">Register form</h3>
  <div class="offset-3 col-6">
    <hr>
  </div>

  <div class="col-xs-12 offset-md-1 col-md-10 offset-md-1">
    <app-alert [message]="authService.error" *ngIf="authService.error" (closeVar)="this.onHandleError()"></app-alert>
    <form [formGroup]="SignInForm" (ngSubmit)="SignInUser()">
      <div class="row">
        <div class="col-xs-12  col-lg-12">
          <div class="form-group">
            <label for="Email">Email address*</label>
            <input type="email"
                   class="form-control"
                   id="Email"
                   placeholder="name@example.com"
                   formControlName="email"
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-lg-12">
          <div class="form-group">
            <label for="password">Password*</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   formControlName="password"
                  >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-lg-12">
        <div class="form-group">
          <label for="Group">Group</label>
          <select id="Group" class="form-control" formControlName="group">
            <option value="401">401</option>
            <option value="402">410</option>
            <option value="410">410</option>
          </select>
          </div>
        </div>
      </div>

      <div class="row mt-2">
          <button class="btn btn-success shadow col-12" type="submit" [disabled]="!SignInForm.valid" (click)="SignInViaEmail()">Sign in</button>
      </div>
      <div class="row mt-2">
<!--          <button class="btn btn-outline-danger shadow col-12" type="button" >Sign in with Google</button>-->
      </div>

      <div class="mb-4"></div>

    </form>
  </div>
</div>
